<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <title>MY APP</title>
  </head>
  <body>
    <header>
        {{>header}}
    </header>
    <div class="body">
      <h2 class="body-title">{{title}}</h2>
      <div class="body-content">
        <form class="weather-form-container" id="weatherForm">
          <input id="countryInput" type="text" placeholder="Enter country address">
          <button class="wather-btn" id="weatherBtn" type="submit">Find Out</button>
        </form>
        <div class="weather-result-container">
          <div class="slider"></div>
          <div class="data-container">
            <p class="country-name">The Country is : <span></span></p>
            <p class="country-location">The Country is : <span></span></p>
            <div class="cast-container">
              <p id="countryCast" class="country-cast">The Weather is : <span></span> </p>
              <img src="" class="cast-icon">
            </div>
            <p class="country-temperature">The temperature is : <span></span></p>
          </div>
          <div class="error-container">
            <p class="error-message">ERROR :  <span></span></p>
          </div>
        </div>
      </div>
    </div>



    <script src="./js/script.js"></script>
  </body>
</html>