<html lang="en">
  <body>
    <div class="header-container">
        <div class="logo">
          <a href="/">
            <img src="images/logo.png" alt="logo" class="header-logo">
          </a>
        </div>
        <div class="header-menu">
          <ul class="header-nav-container">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
          </ul>
        </div>
    </div>
  </body>
</html>